@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    //'primary': (
    //  'base': #3bc8f5,
    //),
    //'success': (
    //  'base': #3bc8f5,
    //),
    //'warning': (
    //  'base': #e6a23c,
    //),
    //'danger': (
    //  'base': #f56c6c,
    //),
    //'error': (
    //  'base': #f56c6c,
    //),
    //'info': (
    //  'base': #3bc8f5,
    //),
  ),

  $breakpoints: (
  'xs': '(max-width: #{'389.99px'})',
  'sm': '(min-width: #{'390px'})',
  'md': '(min-width: #{'640px'})',
  'lg': '(min-width: #{'1024px'})',
  'xl': '(min-width: #{'1440px'})',
  ),


);

@use "element-plus/theme-chalk/src/index.scss" as *;

/* ниже стили общие на все приложение*/
#workarea {
  overflow-x: hidden!important;
}
#workarea-content {
  overflow: unset !important;
}
.workarea-content-paddings{
  overflow-x: unset !important;
}
#app ::selection {
  background: #cfcfcf;
}

/*чтоб в таблицах переносились слова*/
.el-table .cell{
  word-break: break-word!important;
}

.blueButton{
  color: #fff!important;
  background: #3bc8f5!important;
  border-color: #3bc8f5!important;
}

.blueButton:hover{
  background: #3fddff !important;
}

